.jumbotron{
   text-align: center;
   background-color: gainsboro;
   font-family: fantasy;
   font-size: 50px;
   background-image: url(background.png);
}
body{

}
h2{
  color: black;
  font-weight: bolder;
}
em{
   font-weight: bold;
}
.img{
     float: left;
     padding: 50px;
}
blockquote{
           font-style: italic;
           font-weight:bold;

}
